<div class="container">
  <ng-container *ngIf="( joueur$ | async) as joueur">
    <h2>Jouer: {{joueur.nom}}</h2>
  </ng-container>

  <!-- Jouer -->
  <button (click)="lancer()">Lancer les dés</button>
  <div [hidden]="resultat.message==''">
    Résultat: <span class="de">{{desUnicode[resultat.v1-1]}}</span> + <span
      class="de">{{desUnicode[resultat.v2-1]}}</span> = {{resultat.somme}} : {{resultat.message}}
  </div>
</div>
<div class="alert alert-danger" *ngIf="erreur">
  {{erreur}}
</div>
