<h3>Statistiques</h3>

<div *ngFor="let joueur of joueurs">

  <blockquote>
    <h4>
      <a [title]="joueur.nom + ' details'">
        {{ joueur.nom }}
      </a>
      {{ joueur.lancers }}
      {{ joueur.lancersGagnes }}
    </h4>
  </blockquote>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
    <td mat-cell *matCellDef="let joueur"> {{joueur.nom}} </td>
  </ng-container>
  <ng-container matColumnDef="lancers">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lancers </th>
    <td mat-cell *matCellDef="let joueur"> {{joueur.lancers}} </td>
  </ng-container>
  <ng-container matColumnDef="lancersGagnes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lancers gagnés </th>
    <td mat-cell *matCellDef="let joueur"> {{joueur.lancersGagnes}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
